@font-face {
  font-family: 'Bitcount Grid Double';
  src: url('fonts/BitcountGridDouble-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 40px;
  background: #000;
  color: #fff;
  font-family: 'IBM Plex Mono', monospace;
}

header h1 {
  font-family: 'Bitcount Grid Double', monospace;
  font-size: 86px;
  margin-bottom: 20px;
  animation: blink 4s infinite; /* тут анимация сразу на заголовок */
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}


nav ul {
  list-style: none;
  padding: 0;
  margin-bottom: 45px;
}

nav li {
  display: inline;
  margin-right: 20px;
}
nav a {
  color: #800080; /* базовый фиолетовый */
  text-decoration: underline;
}

nav a:hover,
nav a:visited {
  color: #800080;
}

nav a:active {
  color: red; /* красный при нажатии */
}
main p {
  font-size: 13px;      /* мелкий шрифт */
  line-height: 1.3;     /* чуть плотнее строки */
  max-width: 700px;     /* ограничение ширины, чтобы легче читать */
  margin-bottom: 12px;  /* немного пространства между абзацами */
}
.corner-cross {
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-family: monospace;
}

<a href="photo.html" class="corner-cross">+</a>
}
